:root{
  --bg-primary: #ffffff;
  --bg-popover: #ffffff;
}

.started.show-translation{
  --bg-primary: #fafafa;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  cursor: default;
  background-color: var(--bg-primary);
  font: 100% / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  color: rgba(0,0,0,.9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[hidden]{
  display: none!important;
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

main{
  max-width: 56ch;
  margin: 2rem auto;
  padding: 0 1rem 3rem;
}

@media screen and (min-width: 561px){
  main{
    margin-top: 3rem;
  }
}

@media screen and (min-width: 641px){
  main{
    margin-top: 4.5rem;
  }
}

h1{
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgba(0,0,0,.88);
}

h1, p{
  margin: 1.5rem 0;
}

[data-sentence]{
  transition: opacity .2s;
}

[data-sentence]:focus{
  outline: none;
}

body.started [data-sentence]:not([aria-current]){
  opacity: .5;
}

a:visited{
  color: #6C003E;
}

body.started:not(.paused) .play,
body:not(.started.paused) .pause,
body.paused .pause{
  display: none;
}

body.started:not(.paused) .pause{
  display: inline-block;
}


button{
  border: 1px solid transparent;
  min-width: 3rem;
  height: 3rem;
  padding: 0 .5rem;
  border-radius: .75rem;
  vertical-align: bottom;
}

@media screen and (min-width: 371px){
  button{
    min-width: 4rem;
    height: 4rem;
  }
}

button:hover{
  filter: brightness(.98);
}

button:active{
  filter: brightness(.97);
}

button:disabled{
  opacity: .3;
}

button.secondary{
  border: 1px solid #e8e8e8;
  box-shadow: inset 2px -4px 8px rgba(0, 0, 0, 0.01);
  color: #ECBF4B;
}

button.secondary:active,
button.secondary.pressed{
  box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.02);
}

button.tertiary{
  color: #5c5c5c;
}

button.icon-only{
  line-height: 0;
  background: var(--bg-primary);
  border-radius: 50%;
}

footer{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background: var(--bg-primary);
  position: sticky;
  bottom: 0;
  padding: 3.75rem 1rem 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg-primary) 50%);
}


progress{
  width: auto;
  height: .25rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-primary);
}

progress::-webkit-progress-bar {
  background-color: var(--bg-primary);
  border-radius: 0;
}
progress::-webkit-progress-value {
  background-color: #ECBF4B;
  border-radius: 0;
}
progress::-moz-progress-bar {
  /* style rules */
}




[data-translation]{
  position: relative;
}

.started.show-translation [data-translation][aria-current]::after{
  display: block;
  padding: 1rem;
  margin: .5rem -1rem 1.5rem;
  content: attr(data-translation);
  background-color: var(--background-popover);

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
}