:root{
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --bg-popover: #ffffff;
  --txt-primary: rgba(0,0,0,1);
  --txt-secondary: rgba(0,0,0,.85);
  --txt-tertiary: rgba(0,0,0,.5);
  --accent: #ECBF4B;
}

.started.show-translation{
  --bg-primary: var(--bg-secondary);
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  cursor: default;
  font: 100% / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  color: var(--txt-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: var(--bg-primary);
}

[hidden]{
  display: none!important;
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

main{
  position: relative;
  max-width: 56ch;
  margin: 2rem auto;
  padding: 0 1rem 3rem;
}

@media screen and (min-width: 561px){
  main{
    margin-top: 3rem;
  }
}

@media screen and (min-width: 641px){
  main{
    margin-top: 4.5rem;
  }
}

main p:first-of-type:first-letter{
  float: left;
  font-size: 3rem;
  font-weight: 600;
  line-height: .8;
  margin: .3rem .2rem 0 -.1rem;
  color: rgba(0, 0, 0, .6);
}

h1{
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--txt-secondary);
}

h1, p{
  margin: 1.5rem 0;
}

[data-sentence]{
  z-index: 0;
  transition: color .2s;
}

[data-sentence]:focus{
  outline: none;
  z-index: 0;
}

[data-sentence][aria-current]{
  z-index: 1;
  color: var(--txt-primary);
}

body.started [data-sentence]:not([aria-current]){
  color: var(--txt-tertiary);
}

a:visited{
  color: #6C003E;
}

body.started:not(.paused) .play,
body:not(.started.paused) .pause,
body.paused .pause{
  display: none;
}

body.started:not(.paused) .pause{
  display: inline-block;
}


button,
.button-size{
  display: inline-block;
  border: 1px solid transparent;
  min-width: 4rem;
  height: 4rem;
  padding: 0 .5rem;
  border-radius: .75rem;
  text-align: center;
}

@media screen and (max-width: 370px){
  button,
  .button-size{
    min-width: 3rem;
    height: 3rem;
  }
}

@media (hover: hover) {
  button:hover,
  .button-size:hover{
    filter: brightness(.98);
  }
}

button:active,
.button-size:active{
  filter: brightness(.97);
}

button:disabled{
  opacity: .3;
}

button.secondary{
  border-color: #e8e8e8;
  box-shadow: inset 2px -4px 8px rgba(0, 0, 0, 0.01);
  color: var(--accent);
}

button.secondary:active,
button.secondary.pressed{
  box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.02);
}

button.tertiary{
  color: #5c5c5c;
}

button.icon-only,
.button-size.icon-only{
  line-height: 0;
  border-radius: 50%;
  background: var(--bg-primary);
}

footer{
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background: var(--bg-primary);
  position: sticky;
  bottom: 0;
  padding: 3.75rem 1rem 3rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg-primary) 32%);
}


progress{
  width: auto;
  height: .25rem;
  position: fixed;
  z-index: 4;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-primary);
}

progress::-webkit-progress-bar {
  background-color: var(--bg-primary);
  border-radius: 0;
}
progress::-webkit-progress-value {
  background-color: var(--accent);
  border-radius: 0;
}
progress::-moz-progress-bar {
  /* style rules */
}






[data-translation][aria-current]::after{
  content: attr(data-translation);
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content;
  max-width: calc(56ch - 1rem);
  padding: 1rem;
  margin: 1.875rem auto 0;
  background-color: var(--bg-popover);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  color: var(--txt-secondary);
}

body:not(.started.show-translation) [data-translation][aria-current]::after{
  display: none;
}







